.footer {
  position: relative;
  margin-top: 75px;
  padding-bottom: 150px;
  @media (max-width: 1300px) {
    padding-bottom: 120px;
  }
  @include r($desktop) {
    padding-bottom: 110px;
  }
  @media (max-width: 1100px) {
    padding-bottom: 100px;
  }
  @include r($lg) {
    padding-bottom: 80px;
  }
  @include r($tablet) {
    padding-bottom: 70px;
  }
  @include r($sm) {
    padding-bottom: 65px;
  }
  @include r($phone) {
    padding-bottom: 50px;
  }

  &__content {
    @include flex-column(35);
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 1300px) {
      max-width: 555px;
    }
    @include r($lg) {
      max-width: 510px;
      gap: 30px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.4;
    @media (max-width: 1300px) {
      font-size: 44px;
      line-height: 1.35;
    }
    @include r($lg) {
      font-size: 40px;
    }
    @include r($tablet) {
      font-size: 34px;
      max-width: 470px;
      margin: 0 auto;
    }
    @include r($sm) {
      font-size: 30px;
    }
    @include r($phone) {
      font-size: 28px;
    }
    @media (max-width: 395px) {
      font-size: 26px;
    }

    span {
      color: $accent;
    }
  }

  &__text {
    color: rgba($white, .6);
    font-weight: 500;
    @media (max-width: 510px) {
      max-width: 340px;
      margin: 0 auto;
    }
  }

  &__link {
    padding: 15px 25px;
    align-self: center;
    @include flex-align-center(11);
    font-weight: 600;
    border-radius: 40px;
    border: 2px solid rgba($white, .3);
    transition: color .4s, background-color .4s, border-color .4s;

    &:hover {
      border-color: $accent;
    }

    &:focus {
      background-color: rgba($accent, .12);
      border-color: transparent;
    }
  }

  &__decor {
    @include objectCoverBg;
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    @media (max-width: 865px) {
      height: 210px;
    }
    @include r($tablet) {
      height: 200px;
    }
  }
}