<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="logo" src="images/logo.svg" width="45" height="45" alt="">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="#start">Главная</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#about">Подробнее о клубе</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#benefits">Преимущества клуба</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="btn" href="https://t.me/KayrisonSupport" target="_blank">
          Вступить в клуб
        </a>
        <div class="header__lang">
          <button class="header__btn active" type="button">Ru</button>
          /
          <button class="header__btn" type="button">Eng</button>
        </div>
      </div>
      <button class="menu-btn menu-btn--header">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Взаимодействовать с меню</span>
      </button>
    </div>
  </div>
</header>